$$
EEUU
$$

Carga de datos desde la api de consultas en el sitio web de Science For a Changing World

In [11]:
# Importar libreias necesarias
import pandas as pd
import io
import requests
import json

los datos se descargan en formato geojson

In [12]:
def read_url(url):
    response = requests.get(url)
    data = json.loads(response.content.decode('utf-8'))
    df = pd.json_normalize(data['features'])
    return df

Explicación de los parámetros utilizados:

* format=geojson: se solicita la información en formato GeoJSON.
* minmagnitude=1: se solicita solo los sismos con magnitud igual o superior a 1.
* minlatitude=24.6&maxlatitude=50&minlongitude=-168.75&maxlongitude=-52.875: se define un cuadro que abarca todo EEUU, incluyendo Alaska.
* starttime=2023-01-01&endtime=2023-05-31: se solicita solo los sismos ocurridos en los últimos 5 meses del año 2023.

In [13]:
import requests
       
url_eeuu = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&minmagnitude=1&starttime=2023-01-01&endtime=2023-05-31&maxlatitude=72.66&minlatitude=18.92&maxlongitude=-129.99&minlongitude=-172.47'
df = read_url(url_eeuu)
df.rename(columns=lambda x: x.replace('properties.', ''), inplace=True)
df.head()

,type,id,mag,place,time,updated,tz,url,detail,felt,...,types,nst,dmin,rms,gap,magType,type,title,geometry.type,geometry.coordinates
0,Feature,ak0235xknvm7,1.60,None,1683640818935,1683640962256,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,...,",origin,phase-data,",NaN,NaN,1.12,NaN,ml,earthquake,M 1.6 -,Point,"[-151.5365, 63.0249, 0]"
1,Feature,hv73393922,1.80,"10 km E of P?hala, Hawaii",1683638402600,1683638593760,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,...,",origin,phase-data,",31.0,NaN,0.11,180.0,md,earthquake,"M 1.8 - 10 km E of P?hala, Hawaii",Point,"[-155.380172729492, 19.207332611084, 28.959999..."
2,Feature,ak0235xjo9w7,1.50,"92 km NNW of Karluk, Alaska",1683635647592,1683635800035,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,...,",origin,phase-data,",NaN,NaN,0.99,NaN,ml,earthquake,"M 1.5 - 92 km NNW of Karluk, Alaska",Point,"[-154.8755, 58.3653, 5.3]"
3,Feature,hv73393887,2.23,"30 km E of Honaunau-Napoopoo, Hawaii",1683634877230,1683635209040,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,...,",origin,phase-data,",36.0,NaN,0.20,58.0,ml,earthquake,"M 2.2 - 30 km E of Honaunau-Napoopoo, Hawaii",Point,"[-155.580993652344, 19.4896659851074, 11]"
4,Feature,ak0235xjhm52,1.60,"61 km NW of Ninilchik, Alaska",1683633780381,1683634861135,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.0,...,",dyfi,origin,phase-data,",NaN,NaN,0.26,NaN,ml,earthquake,"M 1.6 - 61 km NW of Ninilchik, Alaska",Point,"[-152.5335, 60.3959, 82.8]"

In [14]:
df.describe()

,mag,time,updated,felt,cdi,mmi,tsunami,sig,nst,dmin,rms,gap
count,15954.000000,1.595400e+04,1.595400e+04,505.000000,505.000000,163.000000,15954.000000,15954.000000,2946.000000,636.000000,15954.000000,2946.000000
mean,1.691071,1.678011e+12,1.679056e+12,17.869307,2.304752,2.786074,0.001442,49.000376,29.082824,0.981256,0.501572,159.675492
std,0.558262,3.217662e+09,2.947046e+09,109.978059,0.912706,1.213594,0.037943,38.704039,15.150740,0.683747,0.229967,61.249008
min,1.000000,1.672532e+12,1.672548e+12,0.000000,0.000000,0.000000,0.000000,15.000000,0.000000,0.028000,0.010000,21.000000
25%,1.300000,1.675215e+12,1.676488e+12,1.000000,2.000000,1.918500,0.000000,26.000000,19.000000,0.465750,0.350000,111.000000
50%,1.600000,1.678044e+12,1.679347e+12,1.000000,2.200000,2.822000,0.000000,39.000000,29.000000,0.781000,0.510000,158.000000
75%,2.000000,1.680792e+12,1.681751e+12,2.000000,2.700000,3.698000,0.000000,62.000000,37.000000,1.285250,0.650000,207.000000
max,5.400000,1.683641e+12,1.683641e+12,1447.000000,5.600000,6.024000,1.000000,959.000000,186.000000,3.556000,1.810000,336.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15954 entries, 0 to 15953
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  15954 non-null  object
 1   id                    15954 non-null  object
 2   mag                   15954 non-null  float64
 3   place                 15603 non-null  object
 4   time                  15954 non-null  int64
 5   updated               15954 non-null  int64
 6   tz                    0 non-null      object
 7   url                   15954 non-null  object
 8   detail                15954 non-null  object
 9   felt                  505 non-null    float64
 10  cdi                   505 non-null    float64
 11  mmi                   163 non-null    float64
 12  alert                 19 non-null     object
 13  status                15954 non-null  object
 14  tsunami               15954 non-null  int64
 15  sig                   15954 non-null  int64
 16  net                   15954 non-null  object
 17  code                  15954 non-null  object
 18  ids                   15954 non-null  object
 19  sources               15954 non-null  object
 20  types                 15954 non-null  object
 21  nst                   2946 non-null   float64
 22  dmin                  636 non-null    float64
 23  rms                   15954 non-null  float64
 24  gap                   2946 non-null   float64
 25  magType               15954 non-null  object
 26  type                  15954 non-null  object
 27  title                 15954 non-null  object
 28  geometry.type         15954 non-null  object
 29  geometry.coordinates  15954 non-null  object
dtypes: float64(8), int64(4), object(18)
memory usage: 3.7+ MB

In [17]:
df.to_csv('datos/ScienceForChangingWorld.csv', index=False)
print('Archivo guardado en la carpeta data.')

Archivo guardado en la carpeta data.

In [19]:
# Eliminamos las columnas duplicadas
df = df.loc[:, ~df.columns.duplicated()]
# Descarga del archivo JSON
df.to_json('datos/ScienceForChangingWorld.json', orient='records')